In [1]:
import os 
from sklearn.decomposition import PCA
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
os.chdir(r'D:\AI4EO challenge\train_data\train_data')
%matplotlib inline

In [2]:
data = pd.read_csv('Dimension_reduced_bands.csv')
data = data.drop(columns=['Unnamed: 0'])
data.head()

      Coastal        Blue        Green          Red          NIR        Extra
0  477.189873  650.562387   876.478639  1064.235606  1491.080638  1529.098453
1  574.066667  757.663004   920.484776  1148.212159  2631.140076  2678.474359
2  443.047436  581.596459   748.942308   866.497105  1143.637702  1179.438746
3  643.996104  893.914657  1181.618506  1396.863008  1734.063492  1787.207792
4  424.043590  604.658120   839.893429  1027.135649  1441.305793  1455.700855

In [3]:
index = pd.DataFrame(columns=["Simple ratio (SR)",
                               "Salinity index (SI)",
                               "Salinity index 1 (SI1)",
                               "Salinity index 2 (SI2)",
                               "Salinity index 3 (SI3)",
                               "Salinity index 4 (SI4)",
                               "Intensity index 1 (Int1)",
                               "Intensity index 2 (Int2)",
                               "Ratio vegetation index (RVI)",
                               "Normalized difference salinity index (NDSI)",
                               "Normalized difference vegetation index (NDVI)"])

In [4]:
B = data['Blue']
G = data['Green']
R = data['Red']
NIR = data['NIR']

In [5]:
index['Simple ratio (SR)']= ( R - NIR )/( G + NIR )
index['Salinity index (SI)']= (R*G)/B
index['Salinity index 1 (SI1)']= np.sqrt(G*R)
index['Salinity index 2 (SI2)']= np.sqrt(R*NIR)
index['Salinity index 3 (SI3)']= np.sqrt((G**2 + R**2 + NIR**2))
index['Salinity index 4 (SI4)']= np.sqrt((G**2 + R**2))
index['Normalized difference salinity index (NDSI)']  = (R-NIR)/(R+NIR)
index['Normalized difference vegetation index (NDVI)']= (NIR-R)/(NIR+R)
index['Intensity index 1 (Int1)']=(G+R)/2
index['Intensity index 2 (Int2)']=(G+R+NIR)/2
index['Simple ratio (SR)']= (R - NIR) / (G+NIR)
index['Ratio vegetation index (RVI)'] = R/NIR

In [7]:
index.describe()
index.to_csv('Index.csv')

In [8]:
index_arr =np.array(index)
index_arr.shape

(1732, 11)

In [9]:
header = pd.read_csv(r'D:\AI4EO challenge\train_data\train_data\Dimension_reduced_bands.csv')
header = header.drop(columns=['Unnamed: 0'])
header

,Coastal,Blue,Green,Red,NIR,Extra
0,477.189873,650.562387,876.478639,1064.235606,1491.080638,1529.098453
1,574.066667,757.663004,920.484776,1148.212159,2631.140076,2678.474359
2,443.047436,581.596459,748.942308,866.497105,1143.637702,1179.438746
3,643.996104,893.914657,1181.618506,1396.863008,1734.063492,1787.207792
4,424.043590,604.658120,839.893429,1027.135649,1441.305793,1455.700855
...,...,...,...,...,...,...
1727,398.059732,574.039011,815.391215,968.444425,1318.601932,1354.048709
1728,486.503701,688.735246,964.733472,1145.766549,1588.922895,1647.383256
1729,410.066485,593.310521,842.235689,996.215290,1378.859281,1418.513482
1730,383.419967,554.545401,782.141974,929.574280,1312.494543,1353.843318
1731,405.366450,578.089769,813.926569,970.280425,1340.001256,1373.668055

In [39]:
np.save(r'D:\AI4EO challenge\train_data\train_data\npy data\X_train_finale.npy',index_arr)

In [10]:
# Place the DataFrames side by side
horizontal_stack = pd.concat([header, index], axis=1)

In [48]:
np.save(r'D:\AI4EO challenge\train_data\train_data\npy data\X_train_finale.npy',horizontal_stack)

In [11]:
horizontal_stack.to_csv('Bands&index_concat.csv')